[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
loguru = "*"
fire = "*"
rope = "*"

[packages]

[requires]
python_version = "3.7"
